.card_list{
    width: 500px;
    border: #75757575 solid 1px;
    background-color: #42424291;
    border-radius: 15px;
    margin-bottom: 20px;
    ul{
        display: flex;
        flex-direction: column;
        li{
            padding: 15px 15px;
            border-bottom: #757575 solid 1px;
            color: #fff;
            font-size: 20px;
        }
        li:last-child{
            border-bottom: none;
        }
    }
}