body, ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body{
    background: #212121;
}
li{
    list-style: none;
}

.app{
    max-width: 1100px;
    width: auto;
    margin: 0 auto;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: 0.8s;
}

@media(max-width: 1000px){
    .card{
        justify-content: center;
    }
    body{
        margin: 0 5px;
    }
    .app{
        max-width: 700px;
    }
}