header{
    display: flex;
    margin: 10px 0 30px;
    color: #fff;
    .menu_items{
        display: flex;
        margin-left: 80px;
        li{
            display: flex;
            align-items: center;
            a{
                padding: 10px 15px;
                color: #037c44;
                font-size: 20px;
                font-weight: bold;
                text-decoration-line: none;
                &:hover{
                    background: rgb(92, 92, 92);
                    border-radius: 5px;
                }
            }
        }
    }
}