.card_person{
    display: flex;
    width: 500px;
    background-color: #42424291;
    border-radius: 15px;

    img{
        max-height: 300px;
        padding: 30px;
        border-radius: 50px;
    }

    .info_person{
        padding: 30px 0;
        max-width: 300px;
        width: auto;
        h3{
            font-size: 40px;
            color: #fff;
            margin-bottom: 20px;
        }
        li{
            display: flex;
            border-top: #757575 solid 1px;
            margin-left: 15px;
            font-size: 20px;
            padding: 8px 60px 8px 0;
            color: #fff;
            
            span{
                margin: 0 5px;
            }
        }
        
    }

}


