.error_btn{
    background: orangered;
    border: none;
    height: 30px;
    font-size: 21px;
    border-radius: 5px;
    margin-bottom: 30px;
    &:focus{
        outline: none;
    }
    &:hover{
        background: orange;
    }
}